@import url();

body {
	font-size: 1em;
}

/* Text
-------------------------------------------------- */



/* Image
-------------------------------------------------- */
.apple{
	width: 100px;
	height: 100px;
	background: radial-gradient(circle farthest-corner at 100px 100px, red 0%, darkorange 80%, lightyellow 100%);
	border-radius: 40% 40% 50% 50%;
	margin: 30px;
	display: inline-block;
	position: relative;
}

.appleshade{
	width: 18px;
	height: 0px;
	border:solid transparent 0px;
	border-color: transparent;
	border-radius: 15px 15px 5px 5px;
	box-shadow: 0px 15px 16px 5px brown;
	margin-left: 44%;
}

.applestem{
	width: 4px;
	height: 25px;
	background-image: linear-gradient(to left, brown 0%, burlywood 90%);
	margin-top: -5%;
	margin-left: 50%;
}

.appleslice{
	width: 85px;
	height: 85px;
	border-radius: 40% 40% 50% 50%;
	background: beige;
	position: relative;
	top: -5px;
	left: 8px;
	display: none;
}

.appleseed1{
	width:2px;
	height: 5px;
	border-radius: 50%;
	background-color: black;
	transform: rotate(45deg);
	position: relative;
	top: -50px;
	left: -25%;
	display: none;
}

.appleseed2{
	width:2px;
	height: 5px;
	border-radius: 50%;
	background-color: black;
	transform: rotate(-45deg);
	position: relative;
	top: -50px;
	left: -55%;
	display: none;
}

.appleseed3{
	width:2px;
	height: 5px;
	border-radius: 50%;
	background-color: black;
	transform: rotate(45deg);
	position: relative;
	top: -50px;
	left: 40%;
	display: none;
}

.appleseed4{
	width:2px;
	height: 5px;
	border-radius: 50%;
	background-color: black;
	transform: rotate(-45deg);
	position: relative;
	top: -50px;
	left: 58%;
	display: none;	
}

/* ORANGE */

.orange{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: radial-gradient(ellipse at top, #ffa500, transparent),
    radial-gradient(ellipse at bottom, #ee7600, transparent);
    position: relative;
    display: inline-block;
    margin: 30px;
}

.orangestem{
	width: 5px;
	height: 3px;
	border-radius: 50%;
	background-color: green;
	margin-left: 50%;
	margin-top: 20px;
}

.orangeslice{
	width: 45%;
	height: 80%;
	border-radius: 100px/200px;
	background: linear-gradient(90deg, rgba(255,200,74,1) 0%, rgba(255,92,7,1) 46%, rgba(255,200,74,1) 100%);
	position: relative;
	top: -5px;
	left: 28px;
	display: none;
}
/* iPad 
-------------------------------------------------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {

  /* text */


  /* image */
  	  .apple{
		width: 100px;
		height: 100px;
		background: radial-gradient(circle farthest-corner at 100px 100px, blue 0%, magenta 80%, purple 100%);
		border-radius: 40% 40% 50% 50%;
		margin: 30px;
		display: inline-block;
		position: relative;
	}

	.orange{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background: radial-gradient(ellipse at top, red, transparent),
	    radial-gradient(ellipse at bottom, yellow, transparent);
	    position: relative;
	    display: inline-block;
	    margin: 30px;
	}

}
/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px)  {

  /* text */

  /* image */
    .appleslice{
	  	display: inline-block;
	}

	.appleseed1{
		display: inline-block;
	}

	.appleseed2{
		display: inline-block;

	}

	.appleseed3{
		display: inline-block;
	}

	.appleseed4{
		display:inline-block;
	}

	.orangeslice{
		display: inline-block;
	}

}


/* Orientation
-------------------------------------------------- */

@media (orientation: portrait){


}

/* Hover State
-------------------------------------------------- */

@media (hover: hover){


}
